.header_bar {
  position: sticky;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  background-color: #457b9d;
  height: 75px;
}

.header_bar > h2 {
  padding-left: 40px;
}
