.header_bar {
  position: sticky;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  background-color: #f1faee;
  height: 75px;
  border-bottom: 1px solid white;
}

.header_bar > h2 {
  padding-left: 40px;
  align-content: center;
  color: white !important;
}
.menu_items {
  display: flex;
}

@media only screen and (max-width: 700px) {
  .header_bar {
    height: 100px;
    position: relative;
  }
  h2 {
    font-size: 25px !important;
  }
}

@media only screen and (max-width: 512px) {
  h2 {
    font-size: 15px !important;
  }
}
