.section {
  /* background: rgb(18, 60, 105);
  background: linear-gradient(
    180deg,
    rgba(18, 60, 105, 0.8645833333333334) 48%,
    rgba(18, 60, 105, 1) 100%,
    rgba(255, 255, 255, 1) 100%
  ); */
  width: 100%;
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  color: white;
}

#home {
  background-color: #457b9d;
}
#about {
  background-color: #f1faee;
}
#projects {
  background-color: #1d3557;
}
#contact {
  background-color: #a8dadc;
}
.projects_grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 40px;
  justify-content: space-around;
  align-items: center;
  width: 60%;
  margin: auto;
}

.header_1 {
  color: white;
}

#about {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.about_text {
  width: 60%;
  text-align: left;
  color: blue;
}
.about_icons {
  align: left;
}
