.section {
  width: 100%;
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  color: white;
}
.ui.header.span {
  font-weight: 900 !important;
}
#home {
  background-color: #457b9d;
}
#about {
  background-color: #f1faee;
}
#projects {
  background-color: #1d3557;
}
#contact {
  background-color: #a8dadc;
}
.projects_grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 40px;
  justify-content: space-around;
  align-items: center;
  width: 60%;
  margin: auto;
}

.header_1 {
  color: white;
}

#about {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.about_text {
  width: 60%;
  text-align: left;
  color: blue;
}
.ui.header.header_1 {
  font-size: 6rem;
  color: #f1faee;
}
.ui.header.header_2 {
  font-size: 3rem;
  color: #f1faee;
}
.click_more:hover {
  color: #1d3557;
}
.about_textboxes {
  font-size: 30px !important;
}

@media only screen and (max-width: 900px) {
  .about_textboxes {
    font-size: 20px !important;
  }
  #about {
    flex-direction: column;
  }
  .headshot {
    height: 150px;
    width: 150px;
  }
  .projects_grid {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: auto;
    padding: 30px;
  }
  #projects {
    height: 100%;
    width: 100%;
  }
}
@media only screen and (max-width: 600px) {
  .about_textboxes {
    font-size: 12px !important;
  }
  #about {
    flex-direction: column;
  }

  .projects_grid {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: auto;
    padding: 30px;
  }
  .headshot {
    max-height: 150px;
    max-width: 150px;
  }
}
